JWT_SECRET="You're secret for JWT"
DB_PATH=postgres://...
PORT=localhost:8088
COOKIE_SECURE=0
SEED_TEST_USERS=0
PARALLELS="1-4,5-9,10-11"

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=123456
REDIS_DB=0

PROFILE=1
